@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.animate-slideDown {
  animation: slideDown 0.2s ease-out;
}

body {
  background-color: #000;  /* or any dark color */
  margin: 0;
  padding: 0;
}

* {
  cursor: none !important;
}

.cursor-dot,
.cursor-outline {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  will-change: transform;
  transition: none;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

.cursor-outline {
  width: 25px;
  height: 25px;
  border: 2px solid rgba(255,255,255,0.5);
}
